body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    font-family: 'Dancing Script', cursive;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 1.2em;
}

section {
    padding: 20px;
}

.carousel {
    display: flex;
    overflow: hidden;
}

.slide {
    width: 100%;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/* Стили для активного слайда */
.slide_active {
    transform: scale(1.1);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.overlay-img {
    max-width: 80%;
    max-height: 80%;
}

.project {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.project-description {
    margin-left: 20px;
    max-width: 300px;
}
/* Стили для кнопки */
.view-project-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: #3498db;
    color: #ffffff;
    border: 2px solid #3498db;
}

.view-project-button:hover {
    background-color: #ffffff;
    color: #3498db;
}
.interactive {
    margin-left: 10px;
}
.interactive-image {
    align-content: center;
}
@media screen and (max-width: 768px) {
    /* Стили для мобильных устройств */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Стили для планшетов */
}

@media screen and (min-width: 1025px) {
    /* Стили для компьютеров */
}

.container {
    width: 100%;
    /* Гибкая ширина контейнера */
}

img {
    margin-top: 40px;
    max-width: 300px;
    /* Изображение не превысит ширину своего контейнера */
    height: 200px;
    /* Сохранение пропорций изображения */
}

#gallery {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}


.gallery-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 10px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #66c0f4;
    text-decoration: none;
}

